body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body {
  width: 100%;
  height: 100%;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.Golf {
  height: 100%;
}

.LoadingPage {
  height: 100%;
}

.Gate {
  height: 100%;
}

.Clubhouse {
  height: 100%;
}

.RoundForm {
  height: 100%;
}

.RoundCard {
  height: 100%;
}

.GolferCard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.GolferCardHeader {
  display: flex;
  justify-content: space-around;
}

.golferName, .golferScore {
  flex: 1;
}

.GolferCardHeader > button {
  margin: auto;
}

.GolferCardScores {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.GolferCardScores > * {
  border: solid black 5px;
  justify-content: space-around;
}

.GolferCardScores > *  {
  border: solid black 1px;
}

.GolferCardHeader {
  display: flex;
}

.GolferCardScores {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.GolferCardNine {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.GolferCardHoles {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.GolferCardHole {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.currentHole {
  background-color: aquamarine;
}

.GolferCardHole > * {
  display: inherit;
  align-items: center;
  justify-content: center;
}

.golferCardHoleShots {
  display: flex;
  justify-content: space-around;
}

.GolferCardTotals {
  display: flex;
  justify-content: space-around;
}

.GolferCardHole > *, .GolferCardTotals > * {
  flex: 1;
  border: solid black 1px;
}